/* Flash Scroll Styles */

.flash-scroll {
  height: 50vh;
}


/* Calendar Scroll Styles */

.calendar-scroll {
  height: 50vh;
}

/* ul.events {
  height: 6rem;
}

iframe {
  display: none;
} */


/* Media Queries */

@media (min-width: 640px) {
  .flash-scroll {
    height: 100vh;
  }
  .calendar-scroll {
    height: 100vh;
  }
}