#app {
  width:100%;
  height:100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.flash-scroll {
  height: 50vh;
}
.calendar-scroll {
  height: 50vh;
}

@media (min-width: 640px) {
  .flash-scroll {
    height: 100vh;
  }
  .calendar-scroll {
    height: 100vh;
  }
}