#app {
  width:100%;
  height:100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Flash Scroll Styles */

.flash-scroll {
  height: 50vh;
}

#landing-cover {
  display: flex;
  z-index: 10;
  min-width: 100vw;
  min-height: 100vh;
  background-color:#f5f5dc;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

#landing-cover h3 {
  font-size: 2rem;
}

#landing-cover img {
  min-width: 150px;
  min-height: 150px;
  height: 300px;
}

.cover-fade {
  animation-name: coverFade;
  animation-duration: 1s;
}

/* Calendar Scroll Styles */

.calendar-scroll {
  height: 50vh;
}

/* ul.events {
  height: 6rem;
}

iframe {
  display: none;
} */

/* Media Queries */

@media (min-width: 640px) {
  .flash-scroll {
    height: 100vh;
  }
  .calendar-scroll {
    height: 100vh;
  }
}

/* Animations */
@keyframes coverFade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}